<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chopper1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>chopper2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>chopper3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>chopper4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
            <key>chopper5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,90}}</string>
                <key>sourceSize</key>
                <string>{194,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helicopters-ipadhd.png</string>
            <key>size</key>
            <string>{786,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0f2dc971055b449a12b66a8ead965a:85a02987fe9f4b0f62f27cd08df7d50e:1026b50c6b9eee2415647de1ed650715$</string>
            <key>textureFileName</key>
            <string>helicopters-ipadhd.png</string>
        </dict>
    </dict>
</plist>
