<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chopper1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>chopper2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>chopper3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>chopper4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>chopper5.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helicopters-hd.png</string>
            <key>size</key>
            <string>{114,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa62e60730e8e7f7d96f7ae19a29f6b:e016fc7f6698cf8700f715999a5c5b9b:1026b50c6b9eee2415647de1ed650715$</string>
            <key>textureFileName</key>
            <string>helicopters-hd.png</string>
        </dict>
    </dict>
</plist>
